---
<!-- layout: page -->
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <p>{{ content }}</p>
            <!-- <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div> -->
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>